{% extends "base.html" %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% if HEADER_COVER %}
        <!-- <header class="intro-header" style="background-image: url('{{ HEADER_COVER }}')"> -->
    {% elif HEADER_COLOR %}
        <!-- <header class="intro-header" style="background-color: {{ HEADER_COLOR }}"> -->
    {% else %}
        <!-- <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')"> -->
    {% endif %}

{% endblock header %}

{% block content %}
    {% for article in articles_page.object_list[:1] %}
        <a href="{{ article.url }}">
        <div class="first-article">
            {% if article.header_cover %}
                <div class="first-article-image" style="background-image: url({{article.header_cover}})">
                </div>
            {% else %}
                <div class="first-article-image" style="background-image: url({{HEADER_COVER}})">
                </div>
            {% endif %}
            <div class="first-summary-article">
                <div class="first-inner-article">
                    <h2 class="post-title">
                        {{ article.title }}
                    </h2>
                    <p>
                        {{ article.summary|striptags|truncate(140) }}
                    </p>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}
    <div class="secondary-articles">
    {% for article in articles_page.object_list[1:4] %}
        <a href="{{ article.url }}">
            <div class="secondary-article">
                {% if article.header_cover %}
                    <div class="secondary-image" style="background-image: url({{article.header_cover}})">
                    </div>
                {% else %}
                    <div class="secondary-image" style="background-image: url({{HEADER_COVER}})">
                    </div>
                {% endif %}
                <div class="secondary-inner-article">
                    <h2 class="post-title">
                        {{ article.title }}
                    </h2>
                    <p>
                        {{ article.summary|striptags|truncate(140) }}
                    </p>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
    {% for article in articles_page.object_list[4:] %}
        <div class="post-preview">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                <h2 class="post-title">
                    {{ article.title }}
                </h2>
            </a>
            {% if SHOW_FULL_ARTICLE %}
                {{ article.content }}
            {% else %}
                <p class="article-summary">
                {% if article.has_summary %}
                    {{ article.summary }}
                {% elif article.summary %}
                    {{ article.summary|striptags|truncate(140) }}
                {% endif %}
                </p>
            {% endif %}
            <p class="post-meta">Posted by
                {% for author in article.authors %}
                    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                 on {{ article.locale_date }}
            </p>
            {% include 'comments.html' %}
        </div>
    {% endfor %}

    {% include "pagination.html" %}
{% endblock content %}

